# dbt generated artifacts
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# macOS
.DS_Store

# Environment/secrets
.env

# Data
data/raw

# Airflow runtime files

airflow/logs/